@charset "utf-8";
/*头部导航条及icon*/
.col_blue{ color:#0065b0;}
body{ background:#fff; line-height:25px;}
#headerview{ height:48px; position:relative;}
.header {width: 100%;height:48px;background:#0b3758; position:relative;}
.header h1 {line-height:48px;text-align: center;color: #fff;font-size:14px;}
.header a{position: absolute;height: 22px;width:80px;display:block; cursor:pointer; color:#fff; top:0px;left:10px; font-size:20px; color:#fff;}
.back_menu{ left:0px;}
.home_ico{ right:0px;}
.tel_ico{right:0px;}
.border-bottom{ border-bottom: 1px solid #c8c8c8; border-image: url("../images/border-image.png") 2 2 2 2;  border-width: 0 0 1px;}
@media screen and (max-width:700px) and (min-width:640px)
{
	#headerview{height:44px;}
    .header{height:44px;}
    .header h1{line-height:44px; }
    .header a{ height:44px; line-height:44px;}
}
@media screen and (max-width:640px)
{
	#headerview{height:48px;}
    .header{height:48px;}
    .header h1{line-height:48px;}
    .header a{ height:48px; line-height:48px;}
}
/*日志详情*/
.hiker{
	left:0px;
}
#main{ background-color:#eee;}
.main-frame{  min-width:240px;}
.main_viewport{ position: relative;}
.cover{ position:relative; height:280px; color:#fff; }
.cover .cover_img,.drawer_img{ height:280px; vertical-align:top; width:100%; background-size:cover;}
.drawer_img{position:absolute;}
.cover_header{ bottom:20px; box-sizing: border-box; left: 0; overflow: hidden; padding: 0 10px; position: absolute; width: 100%; z-index: 2; padding-left:70px;}
.user_header{ width:60px; height:60px; float:left; border-radius:50%; background-size:cover;background-position: 50% 50%;border: 2px solid #fff; margin-left:-60px;}
.user_text{ text-align:left; margin-left:15px; margin-top:20px; margin-bottom:10px;}
.user_text span{ display:block;}
.user_text span.user_name{ margin-bottom:5px; font-size:16px;}
.record_posi{ height:40px; line-height:40px; background-color:#dcdcdc;  width:100%; box-sizing: border-box;  border-bottom: 1px solid #c8c8c8; border-image: url("../images/border-image.png") 2 2 2 2;  border-width: 0 0 1px; font-size: 16px;  padding: 0px 10px 0;}
.record_posi ul.record_info li{ float:left; margin-right:10px; font-size:12px;}
.record_posi ul.record_info li.dive_shop{ margin-right:0px;}
.record_info  li i{ color:#7d7d7d; }
.dive_country span.country_img,.dive_place span.place_img,.dive_shop span.shop_img{ width:25px;font-size:18px; display:inline-block;color:#bdbdbd;}
.dive_country span.country_img{ width:22px;}
.dive_place span.place_img{ font-size:18px; width:22px;}
.dive_shop span.shop_img{font-size:15px; width:23px;}
/*相册弹窗*/
.dive_imgs_item img {
    height: 100px;
    width: 100px;
}
.note_img a{ float:left; margin:10px 5px 0px 5px;}
.write_time{ margin:5px 0px; padding-bottom:5px;box-sizing:content-box; width:100%;}
.dive_data ul li,.dive_animals ul li{ float:left; font-size:14px; margin-right:10px; color:#7d7d7d;}
.dive_animals ul li{ height:34px; line-height:34px;}
.dive_animals{ margin-bottom:5px;}
.dive_data ul li span{ font-size:18px; color:#b5b5b5; width:20px;}
.dive_data ul li span.temp_img{font-size:18px; width:15px;}
.dive_data ul li span.deep_img{width:23px;font-size:16px;}
.dive_data ul li span.weight_img{ width:25px; font-size:10px; height:10px; line-height:10px;}
.dive_data ul li span.cloth_img{ width:21px; font-size:14px;}
.dive_animals ul li span { display:inline-block; vertical-align:middle;}
.dive_animals ul li span.ani_img{ color:#b5b5b5;}
.dive_animals ul li span.shayu{ font-size:20px;}
.dive_animals ul li span.haima{ font-size:30px;}
.dive_animals ul li span.shanhuyu{ font-size:15px;}
.dive_tags ul li,.dive_signs ul li,.dive_shops ul li{ float:left;}
.dive_tags ul li.tag_item,.dive_shops ul li.tag_item { margin:0px 0px 0px 9px;}
.eye_img,.sign_img,.shop_img{ font-size:25px; color:#9f9f9f;}
.tag_img{ font-size:15px; color:#9f9f9f;}
.tag_red{ background-color:#e38a8a;}
.tag_yel{ background-color:#dca742;}
.tag_green{ background-color:#9cb86f;}
.tag_blue{ background-color:#7a9cd5;}
.tag_purple{ background-color:#d0a1d3;}
.sign_item{ margin:0px 0px 0px 9px;}
.sign_item img{ width:40px; height:40px;}
.dive_shops{ margin-bottom:10px;}
.dive_signs li,.dive_tags li,.dive_shops li{ height:34px; line-height:34px;}
.dive_comment .comment_ti{ box-sizing:border-box; width:100%;}
.dive_comment .comment_ti h2{ margin:10px 0px 10px 12px;}
.view_com li{ float:left; font-size:16px; color:#707070; margin-right:20px;}
.view_img,.comment_img,.like_img{ color:#8a8a8a; font-size:18px; margin-right:5px;}
.comment_con{ width:100%; box-sizing:border-box;}
.commnet_item{border-bottom: 1px solid #c8c8c8; border-image: url("../images/border-image.png") 2 2 2 2;  border-width: 0 0 1px; box-sizing:border-box; padding:10px 5px 5px 52px;}
.item_text{ margin-left:10px; text-align:left;}
.item_text span{ display:block; color:#676767; font-size:12px;}
.user_avatar{ margin-left:-40px;}
.user_avatar img{ border:1px solid #b5b5b5; padding:1px; background-color:#fff; border-radius:50%; width:40px; height:40px; background-size:cover;}
.sign_item img{border:1px solid #b5b5b5; padding:1px; background-color:#fff; border-radius:50%; width:30px; height:30px; }
.item_text span.com_user{ font-size:16px; color:#333333; }
.item_text p{ font-size:14px; line-height:20px; color:#676767;}
a.com_usename,a:hover.com_username{ color:#507daf;}
.under_bar{ font-weight:bold; text-align:center; font-size:16px; height:44px; line-height:44px; color:#313131;}
/*目的地国家*/
.country_name_en{color:#0b67d9; font-size:20px; font-weight:bold;  margin-bottom:-10px;}
.country_name_ch{color:#0b67d9; font-weight:bold; font-size:15px; margin-bottom:20px;}
.star{margin-top:15px; display:inline-block; margin-left:20px;}
.star img{ width:10px; height:10px; float:left;}
.cover .counter_cover{ height:280px;}
.country_cover{ height:280px;}
.country_cover .cover_header{ padding:12px; top:12%;}
.country_info{ color:#434343; font-size:14px;}
.coun_cover_l{ width:60%;}
.coun_cover_r{ width:20%; color:#0b67d9;}
.coun_cover_r .temper{ color:#0b67d9; font-size:30px; margin-bottom:-8px; }
.coun_cover_r .cloudy{ font-size:35px; margin-bottom:5px;}
.country_hd{ margin-bottom:5px;}
.country_con{ padding:0px 5px; box-sizing:border-box;}
.island_item{ background:#fff; border:1px solid #c8c8c8;box-sizing:border-box;border-image:: url("../images/border-image.png") 2 2 2 2;border-width: 1px; border-radius:4px; overflow:hidden; height:110px;}
.island_img img{ width:150px; height:100%; border-radius:3px 0px 0px 3px; margin-left:-150px;}
.island_item{ padding-left:150px; margin-bottom:10px;}
.island_text{ margin-left:8px; padding-right:5px; padding-bottom:5px;}
.island_text .star{ margin-left:5px;}
.island_text .star img{ width:8px; height:8px;}
.island_text .country_name_en{ margin-bottom:-5px; font-size:15px;}
.island_text .country_name_ch{ margin-bottom:5px; font-size:12px;}
.banner_block ul li img{ z-index:-1;}
.detail_banner, .banner_img, .banner_block {max-height: 195px; overflow: hidden;position: relative;}
#scroll_point { top:15px;right:5px;font-size: 4rem;padding: 0 10px; position: absolute;text-align: right;width: 100%;}
#scroll_point span {background-color: rgba(255, 255, 255, 0.8);border-radius: 50%;display: inline-block;height: 8px;margin: 0 2px;width: 8px;}
#scroll_point span.act {background-color:#0077d0;}
.record_hd{ position:relative;}
.qx_title{  box-sizing: border-box; overflow: hidden; padding: 0 10px 0 20px;  width: 100%; background:#fff; height:145px;border-bottom:1px solid #cbcbcb;border-image: url("../images/border-image.png") 2 2 2 2;  border-width: 0 0 1px;}
.activity_type img{ width:60px; height:60px; position:absolute; bottom:20px; left:20px; }
.activity_state img{width:65px; height:25px; position:absolute; bottom:10px; left:18px;}
.qx_title .user_text{ color:#797979; position:absolute; left:100px; top:165px;}
.qx_title .user_text span.user_name{ color:#fff; font-size:18px; font-weight:bold;}
.qx_title .user_text ul{ margin-top:10px; height:30px;}
.qx_title .user_text ul li{ line-height:25px;}
.originator{  padding:10px 0px 0px 20px; background:#fff; margin-bottom:10px;}
.ori_title{border-bottom:1px solid #cbcbcb;border-image: url("../images/border-image.png") 2 2 2 2;  border-width: 0 0 1px; padding-bottom:5px;}
.ori_user{ display:inline-block; width:100%; padding:10px 0px;}
.ori_userimg{background-position: 50% 50%; background-size: cover; border: 2px solid #fff; border-radius: 50%; float: left;height: 40px;   width: 40px;}
.ori_user .user_text{ line-height:40px; font-size:14px; color:#333; margin-left:5px;}
.contact_way{ padding:0px 10px 5px 10px; font-size:16px;}
.contact_way ul li{ float:left;  width:50%;}
.contact_way i{ margin-right:5px; display:inline;}
.divetrip_details{border-top:1px solid #cbcbcb;border-image: url("../images/border-image.png") 2 2 2 2;  border-width: 1px 0 0px;  padding:10px 0px 0px 20px; background:#fff;}
.divetrip_details .ori_title{}
.divetrip_details .trip_text{ line-height:30px; color:#333333; padding:8px 0px;}
.divetrip_details .dive_tags{ height:40px; line-height:30px; padding:5px 0px;}
/*岛屿详情*/
.country_con h2{ font-size:14px; color:#313131; font-weight:bold; margin:15px 0 10px 0;}
.island_item_site{ height:130px;}
.island_item_shop { height:170px;}
.island_item_site .ds_name,.island_item_shop .ds_name{ margin:5px 0 0 0;}
.island_item_shop .price{ margin-top:15px;}
/*tips*/
.tips_item{background:#fff; border:1px solid #c8c8c8;box-sizing:border-box;border-image:: url("../images/border-image.png") 2 2 2 2;border-width: 1px; border-radius:4px; overflow:hidden; margin-bottom:10px;}
.tips_item span.com_user{ color:#0065b0;}
.tips_item .tips_time{ margin:5px 0px;}
/*潜点潜店详情*/
#divesite_main{ background-color:#fff;}
.divesite_name,.divesite_about{ font-size:16px; background:#e5e5e5; height:40px; line-height:40px; padding-left:15px;border-top:1px solid #7d7d7d;border-image: url("../images/border-image.png") 2 2 2 2;  border-width: 1px 0 0px;}
.divesite_img img{ width:100%; height:350px;}
.dive_math{ margin:10px;}
.divesite_text{ padding:15px 25px 0px 15px; line-height:25px;}
.divesite_imglist img{ border-radius:4px;}
.pop_text{ color:#fff; padding:10px 20px;  text-align:left; z-index:999999;}
.pop_text h2{ display:block; color:#ec6941;}
.contact,.worktime{ padding:10px 0 10px 10px; background:#fff;}
.contact{padding:10px 0 10px 10px;}
.ani_img img{ border-radius:50%;border:1px solid #ccc;width:30px; height:30px; padding:1px;}
.animal_list a{ float:left;}
.ani_img{ width:34px; height:34px; overflow:hidden;}
.dive_data ul li{ border:1px solid #ccc; border-radius:20px; padding:0px 5px; background:#fff; margin:8px 3px 0px 3px; width:auto;}
.dive_data ul li span.yintian_img{ font-size:14px;}
.commnet_line{ height:10px;border-top:1px solid #bfbfbf; border-image: url("../images/border-image.png") 2 2 2 2;border-width: 1px 0px 0px 0px; position:relative;box-sizing: border-box;}
.arrow{transform:rotate(45deg); -webkit-transform:rotate(45deg);-moz-transition:rotate(45deg);-o-transition:rotate(45deg);
border:1px solid #d5d5d5;
height:20px;
position:absolute;
width:26px;
top:10px;
background:#fff;}
.arrow-outer {
height:10px;
overflow:hidden;
position:absolute;
width:26px;top:-10px;left:18px;
}
.comment_bom{ background-color:#fbf8f8; width:100%; height:60px;/* position:fixed; left:0; bottom:0;*/ padding:11px 20px 5px 20px; border-bottom:1px solid #cacaca;}
.comment_bom ul li{ float:left; width:25%; text-align:center; line-height:15px;}
.comment_bom ul li img{ width:20px; height:20px; margin:0px auto; margin-bottom:5px;}
.comment_bom ul li img.com{ width:18px; height:18px;}
.comment_bom ul li img.zan{ width:16px; height:16px; padding-top:1px;}
.comment_bom ul li img.collect{width:18px; height:18px;}
.comment_bom ul li img.saw{ width:20px; height:16px; padding-top:1px;}
.com_wrap{ height:50px; display:block;}
.downapp img{ width:236px; height:166px; text-align:center; margin:0px auto; margin-top:20px; margin-bottom:20px;}
.xc_title{ background:url(../images/xc_titlebg.png) no-repeat; width:120px; height:28px; line-height:28px; color:#fff; position:absolute; top:80px;right:0px; padding-left:10px; text-overflow:ellipsis;}
.qx_data{ background:#fff; padding:10px 10px 0px 10px; margin-bottom:10px;}
.qx_detail{background:#fff;  margin-bottom:10px;}
.qx_detail .qx_text{ padding:5px 8px;}
.qx_data ul li{ float:left; color:#333333; font-size:12px; margin-bottom:5px; width:180px;}
.qx_data ul li.data_r{float:left; color:#333333; font-size:12px; margin-bottom:5px; width:160px;}
.hdrq,.jzrq,.qxjg{ font-size:14px; color:#a5c86e; display:inline-block; margin-right:5px;}
.jzrq{ color:#e6a86b;}
.qxjg{ color:#76c8ec;}
.main_bom{ margin:5px;}
@media screen and (min-width:800px){#main{width:640px; margin:0px auto; background:#f0f0f0; } body{ background:#333; }  #main img{ max-width:640px;}}
@media screen and (max-width:370px){.qx_data ul li{ width:100%;}}
@media screen and (min-width:550px){.qx_data ul li{ width:50%;} .contact_way ul li{ width:50%;}}
@media screen and (max-width:300px){.contact_way ul li{ width:100%;}}
.contact_way ul li{ color:#a1a1a1;}
.sex_girl,.sex_boy{ color:#f980ab; margin-left:5px;}
.sex_boy{ color:#4ebbf9;}
.xc_bom ul li{ width:33%; font-size:12px;} 
.xc_bom { background:#f9f6f6; height:50px; padding:10px 0 5px 0;}
.sc_icon,.xh_icon,.ll_icon{ font-size:15px; display:block; color:#0eacf4; margin-bottom:5px;}
.sc_icon{font-size:20px;}
.some_info{ margin-left:15px;color:#fff;}
.some_info span.country_img, .some_info span.place_img, .some_info span.shop_img, .some_info li i{ color:#fff; text-shadow:0 2px 2px rgba(0,0,0,.8);}
.part_bg { background:#fff; padding:10px; border-bottom:1px solid #bfbfbf; margin-bottom:15px;}
.dive_tags ul li.tag_item{ height:20px; line-height:20px; font-size:12px; color:#fff; padding:0 5px;}
.dive_tags ul li{ height:20px; line-height:20px;}
.dive_tags{ margin-bottom:5px;}
.user_top{ margin-top:10px;}
.buddys_animals_tab li{ float:left;margin:10px 5px 10px 5px; cursor:pointer;}
.buddys_animals_tab li span{ font-size:14px; margin-right:5px; color:#9f9f9f;}
.buddys_animals_tab li span.signs{ font-size:15px;}
.buddys_animals_tab li span.animals{ font-size:12px;}
.buddys_animals_con_each ul li span{ width:35px; height:35px; border:1px solid #9f9f9f;background-position: 50% 50%;  background-size: cover; border-radius: 50%; display:block;}
.buddys_animals_con_each ul li p{ padding-left:25px; font-size:12px; line-height:12px;}
.wave_bg{ position:relative; margin-top:90px; background-color:#65caf8; }

.buddys_list{ position:absolute; z-index:2;}
.buddys_1,.animals_1{ left:5%;top:-45%;}
.buddys_2,.animals_2{left:25%;top:-60%;}
.buddys_3,.animals_3{left:48%;top:-45%;}
.buddys_4,.animals_4{left:66%;top:-65%;}
.buddys_5,.animals_5{left:85%;top:-45%;}
#gotoDownload{ position:relative;  max-width: 640px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 260;
  background: rgba(0,0,0,.7);
  line-height: 44px;
  color: #fff;
}
#closeDownload{background:url(../images/download_close.png) no-repeat; position:absolute; width: 8%;  top:45%;  bottom: 0;  right: 0;  z-index: 100;  background-size: 22px; }
#gotoDownload img{box-shadow:0 0 10px 0 #555;-webkit-box-shadow:0 0 10px 0 #555;}
.buddys_animals_active,.buddys_animals_active span.iconfont{ color:#507daf;}
.buddys_list2{ float:left; width:20%; }
.buddys_other{ position:absolute; top:20px; width:100%; padding-left:20px;}
.wave_img{ position:absolute; width:100%; height:60px; z-index:1; top:-60px;}
/*日志批量分享页*/
.rzlist_cover_img{ background-size: cover; height: 100%; vertical-align: top; width: 100%; position:fixed;}
.rzlist_wrap{ position:relative;}
.rzlist_con{ position:absolute; left:0; top:0; width:100%; box-sizing:border-box;}
.rzlist_user_info { width:100%; margin:10px 10px 0px 10px;}
.rzlist_title{color:#333333; font-size:18px; margin:0px 0px 0px 10px; line-height:50px;}
.rzlist_header{background-position: 50% 50%; background-size: cover;  border: 2px solid #9f9f9f;  border-radius: 50%; width:64px; height:64px; margin-left:1}

.rzlist_timeline{ width:100%; height:100%; box-sizing:border-box; position:relative;}
.rzlist_line{ background-color:#8b9bb1; width:3px; display:block; position:absolute; left:40px; top:0px;}
.rzlist_r{ width:90%;}
.rzlist_l{ padding-top:50px;}
.rzlist_each{ width:70%; height:90%;position:relative; margin-left:105px; margin-bottom:100px;}
.rzlist_each_first{ margin-top:20px;}
.rzlist_r .rzlist_each .arrow-outer{top:5px;left:-11px; height:45px; width:11px;}
.rzlist_r .rzlist_each .arrow-outer .arrow{ background:#ececec;transform:rotate(45deg); -webkit-transform:rotate(45deg);-moz-transition:rotate(45deg);-o-transition:rotate(45deg); width:18px;left:5px; border:1px solid #8b9bb1;}
.rzlist_r .yel_dot_outer{ width:18px; height:18px; background:#fff; border:1px solid #ffac36;border-radius:50% 50%;  z-index:2; position:relative; margin-right:5px;}
.time_dot{ position:absolute; left:-72px; top:-40px; width:80%; height:20px; line-height:20px; color:#333;}
.rzlist_r .yel_dot_outer i{ width:10px; height:10px; margin:0px auto; background:#ffac36; border-radius:50% 50%; position:absolute; z-index:3; left:3px; top:3px;}
.rzlist_each_t{ padding:5px; font-size:14px; line-height:38px; color:#333;}
.rzlist_each_t span{ font-size:12px;}
.rzlist_each_b { border-radius:8px; overflow:hidden; height:120px; margin-top:85px; background:#ececec; border:1px solid #8b9bb1; border-radius:8px; }
.rzlist_each_b img{ width:100%; height:140px;}
.rzlist_l .rzlist_each{margin-right:26px; margin-left:0px;float:right;}
.rzlist_l .rzlist_each .arrow-outer1{top:5px; right:-11px; height:45px; width:11px; overflow:hidden; position:absolute;}
.rzlist_l .rzlist_each .arrow-outer1 .arrow1{ background:#ececec;transform:rotate(45deg); -webkit-transform:rotate(45deg);-moz-transition:rotate(45deg);-o-transition:rotate(45deg);width:18px;right:5px; border:1px solid #8b9bb1;height: 20px; position: absolute; top: 10px;}

.node{ width:50px; text-align:center; height:20px; line-height:20px; font-size:12px; color:#fff;background-color:#8b9bb1; border-radius:0 30px 30px 0;position:absolute; z-index:2; left:-63px; top:30px;}
.dive_site{ color:#fff;text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8); font-size:14px; font-weight:bold; position:absolute; left:10px;bottom:5px;}
.item_text .coment_reply{ display:inline; color:#bbbbbb; font-size:14px;}
.rz_info{ position:absolute; right:0px; top:30px; width:200px; height:30px; line-height:30px; border-radius:30px 0 0 30px; background-color: #000; background-color: rgba(0,0,0,0.4);
		 color:#fff; font-size:14px; padding-left:8px; }
.rz_yongj{ color:#fff; font-size:12px; float:left; margin-right:5px;}
/*stamp_list*/
.stamp_wrap{ position:relative;}
.stamp_list{ padding:3px; box-sizing:border-box;}
.stamp_list ul li{ background:#fff; border-radius:8px; border:1px solid #dcdbdb; height:auto; padding:5px; float:left; margin:5px 3px;}
.stamp_user{ margin-top:10px;}
.stamp_avatar{background-position: 50% 50%; background-size: cover;border:1px solid #bcbcbc;border-radius:50%;width:36px; height:36px; display:inline-block; }
.stamp_username{ height:46px; line-height:46px; display:inline-block; position:relative; bottom:15px; left:10px;}
.stamp_list{ position:absolute; box-sizing:border-box;}
/*zt*/
.zt_title{ position:absolute;left:0; top:0px; width:100%; text-align:center; line-height:280px; font-size:20px; font-weight:bold;}
.lead_text{ color:#676767; height:45px; line-height:45px; padding-bottom:10px; border-bottom:1px solid #cacaca; text-indent:24px;}
.rz_each{ height:200px; position:relative; margin-bottom:10px;}
.rz_img,.rz_drawer{ width:100%; height:200px; position:absolute; left:0; top:0;background-position: 50% 50%; background-size: cover; z-index:1;}
.rz_drawer{  z-index:2;}
.rz_someinfo{ position:absolute; z-index:3; width:95%; height:50px; left:10px; bottom:5px;}
.rz_data{ position:absolute; z-index:3;top:5px; right:5px;background-color: #000; background-color: rgba(0,0,0,0.4); border-radius:30px; color:#fff; padding:0px 10px; overflow:hidden;}
.rz_data{font-size:12px; margin-right:3px; }
.data_saw{ margin-right:5px; display:inline-block;}
.data_zan{ display:inline-block;}
.rz_each .user_header{ margin:0px; float:none;border:2px solid #b6b6b6; display:inline-block; width:50px; height:50px;}
.rz_bt{  color:#fff; font-size:18px; line-height:50px; font-weight:bold;}
.rz_username{ color:#fff; line-height:50px; display:inline-block; float:left; margin-right:8px;}
.zan_list{ margin:10px 0px;border-bottom:1px solid #e8e8e8; padding-bottom:5px; padding-left:10px;}
.zan_list .user_header{ float:none; margin:0px; display:inline-block; width:40px; height:40px; border:none; margin-right:5px;}
.total_zan{ line-height:40px;}
.com_icon{ color:#0eacf4; margin-right:3px; font-size:13px; display:inline-block;}
.zt2_title{ width:95%; height:100px; position:absolute; bottom:-50px; left:10px; background:#fff; border-radius:4px 4px 0 0; z-index:3; color:#333333; text-align:center; font-family:"微软雅黑"; line-height:30px;}
.big_ti{ font-size:20px;font-weight:bold; margin-top:15px; }
.small_ti{ font-size:14px;}
.ti_line{ display:inline-block; height:2px; width:70%; background:#333; overflow:hidden; position:relative; bottom:4px;}
.sj_l{ position:absolute; z-index:2; left:-42px; bottom:-100px;}
.sj_r{ position:absolute; z-index:2; right:-44px; bottom:-100px;}
.parallelogram_l {
	margin: 50px;
	width: 130px; 
	height: 50px;
	background: #f2f2f2;
	/* Skew */
	-webkit-transform: skew(10deg); 
	-moz-transform: skew(10deg); 
	-o-transform: skew(10deg);
	transform: skew(10deg);
}
.parallelogram_r {
	margin: 50px;
	width: 130px; 
	height: 50px;
	background: #f2f2f2;
	/* Skew */
	-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
	transform: skew(-10deg);
}
.lead_text2{ background:#fff; color:#999999; min-height:100px; margin-top:50px; margin-left:10px; width:95%;}
.lead_text2 p{ text-indent:24px;}
.quote_l{ display:inline-block; width:10px; height:13px; background:#fff; border-left:3px solid #d9d9d9;border-top:3px solid #d9d9d9;}
.quote_r{ display:inline-block; width:10px; height:13px; background:#fff; border-right:3px solid #d9d9d9;border-bottom:3px solid #d9d9d9; float:right;}
.zt_detail{ background:#fff; margin-bottom:10px;}
.part_img{ background:#72768f; display:inline-block; color:#fff; width:25px; height:25px; line-height:25px; border-radius:50% 50%; text-align:center; font-size:12px; margin-right:5px; }
.part_ti{ height:40px;border-bottom:2px solid #e9e9eb; margin-bottom:15px; margin-top:10px;}




